.BetItem {
    display: inline-block;
    width: 100px;
}



.BetItemInner {
    display: inline-block;
    width: 100px;
    padding: 10px;
}

.BetItemInner:nth-child(3n + 1) {
    clear:  right;
}



