.alertHidden{
    display: none;
    width: 30vw;
}
Form{
    margin: 0;
    padding: 0;
}
.alertShown{
    display: block;
    width: 100%;
}

.FormControl{
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
}
.Label{
    margin: 0;
    padding: 0;
    margin-right: 5px;
    margin-top: 10px;
    width: 25%;
    font-size: 12px;
}
.Input, .Input2{
    margin-bottom: 20px;
    width: 75%;
}

.Buttons{
    margin-top: 5vw;
    margin-left: 45px;
}
.Cancel{
    margin-right: 20px;
}
.Forgot{

    background: none!important;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    margin-right: 5px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 40px;
}
.Forgot:hover{
    color: salmon;
}
/* medium screens */
@media only screen and (min-width: 768px){

    .alertShown{
        font-size: 1.6em;
    }
    .Label {
        font-size: 25px;
        width: 20vw;
    }

    .FormControl{
        display: flex;
        font-size: 1.6em;
        height: 7.5vh;
        margin: 30px 0px;
    }
    .Input, .Input2{
        width: 55vw;
        height: 90%;
        margin-bottom:200px;
        padding: 0px;
        
        padding-left: 20px;
        font-size: 30px;
    }

    .Buttons{
        margin-top: 1vh;
        width: 100%;
    }

    Button {
        margin: 0px;
        height: 70px;
        width:  30%;
        font-size: 100%;
        font-weight: bold;
    }
    .Forgot{
        margin-left: 150px;
        font-size: 30px;
        width: 100%;
    }
    .Cancel {
        margin-right: 50px;
    }
  
}

/* Large devices */
@media only screen and (min-width: 968px){

    h3{
        font-size: 50em;
    }
    .FormControl{
        display: flex;
        font-size: 1.2em;
        height: 6.5vh;
        padding-left: 25px;
        width: 90%;
        margin-left:0;  
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .Label{
        font-size: 18px;
    }
}