.Input{
    margin-bottom: 3vh;
    padding-left: 5vw;
    width: 60vw;;
}
.CancelButton{
    margin-right: 5vw;
}
/* medium screens */
@media only screen and (min-width: 768px){
    .Input{
        height: 4vh;
        width: 50vw;;
        margin-bottom: 2vh;
        padding-left: 2vw;
    }
    .ConfirmButton,.CancelButton{
        height: 4vh;
        padding: 0 5vw;
    }
}

/* Large devices */
@media only screen and (min-width: 968px){
    .Input{
        height: 7vh;
        width: 30vw;;
        margin-bottom: 2vh;
    }
    .ConfirmButton,.CancelButton{
        height: 7vh;
        padding: 0 2vw;
        margin-right: 2vw;
    }
}