.BetrowsWrapper{
    position: relative;
        float: left;
        margin-bottom: 8%;
}


.Betrows{
    font-size: 0.9em;
    position: relative;
    display: flex;
}

.BetTileS{
    position: relative;
    display: inline;
    float: right;
    width: 30vw;
}


.RowNumber{
    margin-left: 0.7vw;
    position: relative;
    display: inline;
}

.BetItem {
    margin-left: 1.5vw;
    display: flex;
    float: left;    
}


/* medium screens */
@media only screen and (min-width: 660px){
    .Betrows{
        font-size: 1.4em;
    }
}


/* Larger screens */
@media only screen and (min-width: 1000px){
    .BetItem {
        margin-left: 0.5vw;
    }
    .BetrowsWrapper{
        margin: 6px 0 8px;
        
    }
    .RowNumber{
        padding-top: 0px;
        font-size: 0.7em;    
    }


  
}