.Buttons{
    display: flex;
}
.PasswordWrapper{
    font-size: 15px;
}
.showError{    
    border-color: #a94442 !important;    
    color: #a94442 !important;    
    margin-bottom: 15px;  
  }

  .ErrorText {
         color: red;  margin-left: 0; 
        text-align: left;
        font-size: 15px;
  }

.Submit, .Button1
{
    width: 25vw;
    margin: 0 3px;
    padding: 5px 0;

}

.Submit{
        background: green;
        color: white
}

.Email, .Password{
    padding: 5px 0;
    width: 100%;
    margin-bottom: 10px;
}

/* medium screens */
@media only screen and (min-width: 768px){
    .PasswordWrapper{
        background: white;
        margin: 0 auto;
    }

    .Submit, .Button1
{
    width: 15vw;
    padding: 10px 10px;
    margin: 3px 3px;

}

.Password,.Email{
    padding: 10px 20px;

}



}



@media only screen and (min-width: 968px){
    
    .Email, .Password {
        /* clear: right */
        width: 30vw;
        padding: 6px 20px;
        margin-bottom: 10px;
        
    }

    .Submit, .Button1{
        margin: 2px 4px;
        width: 10vw;
        padding: 10px;
        font-size: 15px;
    }

    
}