.Buttons{
    display: flex;
}

.showError{    
    border-color: #a94442 !important;    
    color: #a94442 !important;    
    margin-bottom: 15px;  
  }

  .ErrorText {
         color: red;  margin-left: 0; 
        text-align: left;
        font-size: 15px;
  }

input[type=submit], .button[type=button]
{
    width: 25vw;
    padding: 0;
    margin: 0
}
button[type=button]{
    padding: 10px;
}
/* medium screens */
@media only screen and (min-width: 768px){
    .PasswordWrapper{
        background: white;
        margin: 0 auto;
    }

    input[type=submit], .Button1
{
    width: 15vw;
    padding: 6px 0;
    margin: 3px 3px;
}



}



@media only screen and (min-width: 968px){
    input[type=text] {
        /* clear: right */
        width: 30vw;
    }

    input[type=submit], .Button1{
        padding: 3px 0;
        margin: 2px 4px;
        width: 10vw;
    }

    
}