

.Jackpot{
    font-size: 3rem;
    font-weight: bolder;
    margin: 30px auto;
    color: #fff;
    text-shadow: 5px 5px #558ABB;
}
.JapotText{
    color: black;
    text-shadow: none;
}
.wrapperLand {
    height: 100vh;
}
@media (max-width: 500px) {
    .wrapperLand {
        height: auto;
    }
    .ball_img {
        right: -80px !important;
        top: 1000px;
    }
    .Jackpot {
        padding-bottom: 200px;
    }
}