.TopBoard{
    float: left;
    display: block;
    clear: right;
}

.Quick {
    text-align: left;

}

.PlayWith { 
    font-size: 1.3em;    
}
.Buttons {
    float: left;
    display: block;

}

.ButtonsLarge{
    display: none;
    float: left;
}
.Funds { 
    clear:both;
}

.EmptySelection{
    display: flex;
     font-weight: bold;
     background: pink;
     margin: 0;;
     margin-top: 52px;
     width: 100vw;
     
}
Button {
    margin-right: 5px;
}

.DeleteButton{
    margin-right: 0;
    padding-top: 0;;
}
.TrashSmall{
    display: inline-block;
    margin-left: 5vw;
}
.TrashMedium{
    display: none;
}
.TrashLarge{
    display: none;
}

.EmptyText{
    margin-right: 10vw;
}


/* medium sized devices */
@media only screen and (min-width: 680px){
    .PlayWith { 
        font-size: 1.5em;    
    }
     .Quick {
        font-size: 1.5em;    
    }
    .Buttons {
        display: none;
    }
    Button{
        margin-right: 20px;
    }
    .ButtonsLarge{
        display: inline-block;
    }
    .EmptySelection{
        margin-top: 80px;
        font-size: 1.8em;
        text-align: left;
        width: 100vw;
    }

    .TrashSmall{
        display: none;
    }
    .TrashMedium{
        display: inline-block;
        
    }
    .TrashLarge{
        display: none;
    }
    .EmptyText{
        width: 70vw;
        padding: 10px 0;
    }
}


/* Large screens */
@media only screen and (min-width: 960px){
    .PlayWith { 
        font-size: 1.2em;    
    }
     .Quick {
        font-size: 1.2em;    
    }
    .Buttons {
        display: inline-block;
    }
    .ButtonsLarge{
        display: none;
    }
    .EmptySelection{
        width: 45vw;
        padding: 1px 0;
        margin-top: 85px;
        font-size: 1.5em;
    }
    Button {
        margin-right: 20px;
    }

    .TrashSmall{
        display: none;
    }
    .TrashMedium{
        display: none;
    }
    .TrashLarge{
        display: block;
        margin-right: 3vw;
    }

    
    .EmptyText{
        width: 80vw;
    }
}


