.Top{
    display: flex;
    margin : 2vh auto 0vh;
    text-align: center;
}
.CardWrapper, .Main{
    background: white;
    width: 95%;
    margin: 10px auto
}

.ToWalletHeader, .ToBankHeader{
    margin: 2vh 8px;
    padding: 5px 20px;
    border: 2px solid #ccc;
    background: #eee;
    box-shadow: #ccc;
}
.Selected{
    background-color: skyblue;
}

/* medium screens */
@media only screen and (min-width: 768px){
    .CardWrapper{
        width: 60vw;
        background: white;
        margin: 0 auto;
    }


    .ToWalletHeader, .ToBankHeader{
        margin: 1vh 8px;
        padding: 5px 20px;
    }
}



/* Larger devices */
@media only screen and (min-width: 960px) {
    .CardWrapper{
        width: 50vw;
    }

    .Top{
        margin-left: 20px;;
    }
}