.alertHidden{
    display: none;
    width: 30vw;
}

.alertShown{
    display: block;
    width: 90vw;
}

.Forgot{

    background: none!important;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
    color: white;
    margin-right: 5px;
}

.Forgot:hover{
    text-decoration: underline;
    color: #069;

}

/* medium screens */
@media only screen and (min-width: 768px){
    .alertShown{
        width: 55vw;
    }
}

/* Large devices */
@media only screen and (min-width: 968px){

    .alertShown{
        width: 35vw;
    }
}