.alert-hidden{
    display: none;
}

.alert-shown{
    display: block;
}

.Forgot{

    background: none!important;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
    color: white;
    margin-right: 5px;
}

.Forgot:hover{
    text-decoration: underline;
    color: #069;

}