.userPlayHistoryWrapper{
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    margin: auto;

}
.MainHeader:nth-child(even){
    background-color: blue;
}
.MainHeader{
    display: flex;
    background: #ccc;
    font-size: 12px;
    border-bottom: 2px solid grey ;

}
.BodyMain>div:nth-child(odd){
    background-color: #eee;
}
.BodyMain>div:nth-child(even){
    background:  #c3eafa;

}
.DateHead{
    width: 25vw;
} 
.PriceHead{
    width: 17vw;
}
.Icon{
    width: 6vh;
    height: 2vh;;
  }

.ResultHead{
    background: white;

}

.BodyHeader{
    display: flex;
}

.Head1{
    margin-right:36vw;
    margin-left: 2vw
}
.Head{
    margin-right: 10vw;
}
.SelectionRow{
    display: flex;
}


.Teams{
    display: flex;
    width: 53vw;
}

.TeamNames{
    display: inline;
}
.RowNumber{
    width: 4vw;
    margin-left: 1vw;
}

.ScoreResult{
    display: flex;
    width: 25vw;
}
.Score{
    width: 10vw;
}
.Selections{
    display: flex;
}
.Selected, .Winner{
    margin-right: 1vw;
    height: 5vh;
}
.Winner{
    border: 2px solid green;
}

.Footer{
    font-size: 12px;
}

.FooterPrices{
    display: flex;
}
.FooterPriceInner{
    margin-right: 5vw;
}
/* medium screens */
@media only screen and (min-width: 768px){
    .userPlayHistoryWrapper{
        font-size: 1.4em;
    }

    .MainHeader{
        width: 90%;
    }
    .DateHead{
        width: 65vw;
    } 
    .PriceHead{
        width: 17vw;
    }
}


/* Larger  screens */
@media only screen and (min-width: 960px){
  
    .MainHeader{
        width: 70%;
    }
 

}