
  .FormsWrapper {
        font-size: 0.8 em;
        width: 100vw;
        text-align: left;
    }

    .Goals{
        font-size: 1.2em;
        padding: 0;
        margin: 0;
    }
    .WinForm{
        background-color: green;
        padding: 0 0.2vw;
        margin-left: 0.2vw;
        color: white;
    }
    .LossForm{
        background-color: red;
        padding: 0 0.4vw;
        margin-left: 0.2vw;
        color: white;
    }
    .DrawForm{
        background-color: grey;
        padding: 0 0.4vw;
        margin-left: 0.2vw;
        color: white;
    }

/* medium sizes */
@media only screen and (min-width: 768px ){
    .FormsWrapper {
        font-size: 1.4em;
    }
    .Goals{
        font-size: 1.2em;

    }
    .H5s{
        font-size: 1.4em;
    }
}



/* Larger  screens */
@media only screen and (min-width: 960px){
    .FormsWrapper {
        width: 50vw;;
        float: left;
        text-align: left;
    }

}