.ReceiptWrapper{
    width: 100%;
    background: white;
    margin: 10px 0 0;
}
.HeaderWrapper{
    display: flex;
    float: left;
}
.MatchHeader{
    margin-left: 10px;

}
.SelectionHeader{
    float: right;
    margin-left: 140px;
}

.ResultWrapper{
    width: 100%;
}
.TeamResult{
    float: right;
    padding-right: 10px;
}

.TeamsName{
    margin-left: 10px;
    float: left;
    display: flex;
}


.MatchResult{
    font-size: 0.8em;
}


.BottomSection{
    width: 100; 
    padding-top: 320px;
    text-align: left;
    margin-left: 15px;
    border-bottom: 2px solid black;
}

@media only screen and (min-width: 660px){
    .SelectionHeader{
    margin-left: 400px;

    }
    .ReceiptWrapper{
        font-size: 2.4=em;
    }
    .BottomSection{
        padding-top:  740px;
    }

}

@media only screen and (min-width: 960px){

    .SelectionHeader{
        margin-left: 200px;
    
        }
        .ReceiptWrapper{
            font-size: 1.5em;
        }
        .BottomSection{
            padding-top:  430px;
        }
}