.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #white;
    cursor: not-allowed;
    background-color: grey;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Primary {
    
    color: white;
    font-size: 80%;
    background-color : green

}