
  .FormsWrapper {
        font-size: 0.8 em;
        width: 100vw;;  
    }

    .Goals{
        font-size: 1.2em;
        padding: 0;
        margin: 0;
    }

/* medium sizes */
@media only screen and (min-width: 768px ){
    .FormsWrapper {
        font-size: 1.4em;
    }
    .Goals{
        font-size: 1.2em;

    }
    .H5s{
        font-size: 1.4em;
    }
}



/* Larger  screens */
@media only screen and (min-width: 960px){
    .FormsWrapper {
        width: 50vw;;
        float: left;
        text-align: left;
    }

}