
  .FormsWrapper {
    font-size: 0.8 em;
}


/* medium sizes */
@media only screen and (min-width: 768px ){
    .FormsWrapper {
        font-size: 1.4em;
    }
    .Goals{
        font-size: 1.2em;

    }
    .H5s{
        font-size: 1.4em;
    }
}