.ResultsWrapper{
    background: #ccc;
    font-weight: bold;
}

.ResultHead{
    display: flex;
    padding: 10px 0 5px;
}
.SelectionRow{
    display: flex;
    width: 100vw;
    padding: 5px 0;
}
.Match{
    width: 50vw;
}
.BodyHeader{
    display: flex;
    margin-left: 2.5px;
    padding-bottom: 10px;

}
.ResultBody{
    font-size: 0.8em;
    margin-left: 4px;
}
.Teams{
    display: flex;
    width: 50vw;
}
.RowNumber{
    width: 5vw;
}
.TeamNames{
    display: flex;
    float: left;
    flex-wrap: wrap;
}
.homeTeam{
    display: block;
}
.awayTeam{
    display: block;
}

.MoveRight{
    margin-left: 2vw;
}
.BodyMain > div:nth-child(odd){
    background: #eee;
}

.BodyMain> div:nth-child(even){
    background: #c3eafa;
}


.Score{
    width: 19vw;
    margin-left: 5vw;
}


/* medium screens */
@media only screen and (min-width: 768px){
    .ResultsWrapper{
        font-size: 1.6em;
    }

    .MoveRight{
        margin-left: 11vw;
    }

    .Match{
        width: 52vw;
        margin-left: 3vw;
    }
    .Teams{
        margin-left: 3vw;
    }
}


/* Larger  screens */
@media only screen and (min-width: 960px){

    
}