.ResultsWrapper{
    background: #ccc;
    font-weight: bold;
    font-size: 1.2em;
}

.ResultHead{
    display: flex;
    padding: 10px 0 5px;
}
.SelectionRow{
    display: flex;
    width: 100vw;
    padding: 5px 0;
}
.Match{
    width: 60vw;
}
.BodyHeader{
    display: flex;
    margin-left: 2.5px;
    padding-bottom: 10px;

}
.ResultBody{
    font-size: 0.8em;
    margin-left: 4px;
}
.Teams{
    display: flex;
    width: 60vw;
}
.RowNumber{
    width: 7vw;
}
.TeamNames{
    display: flex;
    float: left;
    flex-wrap: wrap;
}
.homeTeam{
    display: block;
}
.awayTeam{
    display: block;
}

.MoveRight{
    margin-left: 4vw;
}
.BodyMain > div:nth-child(odd){
    background: #eee;
}

.BodyMain> div:nth-child(even){
    background: #c3eafa;
}


.Score{
    width: 19vw;
    margin-left: 5vw;
}
.JackPotShare{
    font-size: 0.8em;
    margin-left: 4px;
}

/* medium screens */
@media only screen and (min-width: 768px){
    .ResultsWrapper{
        font-size: 2.2em;
    }

    .MoveRight{
        margin-left: 11vw;
    }

    .Match{
        width: 60vw;
        margin-left: 3vw;
    }
    .Teams{
        margin-left: 3vw;
    }
}


/* Larger  screens */
@media only screen and (min-width: 960px){
    .ResultsWrapper{
        width: 90%;
        margin: auto;
    font-size: 1.2em;
    }
    .ResultHead{
        margin-left: 3vw;
    }
    .Results{
        display: flex;
        width: 90vw;
    }
    .ResultBody{
        float: left;
        width: 45vw;

    }
    .JackPotShare{
        float: right;
    }
    .Match{
        margin-left: 3vw;
        width: 23vw;
    }
    .RowNumber{
        width: 2vw;
    }
    .Teams{
        width: 25vw;
    }
    .Score{
    width: 10vw;
    margin-left: 0;
    }
    .MoveRight{
        margin-left: 8vw;
    }
    .SelectionRow{
        width: 45vw;
    }

 

}