.SingleTile {
    border: 1px solid #ccc;
    font-size: 110%;
    width: 20px;
    float: left;
    color: grey;
    box-sizing: border-box;
    text-align: center;
    margin-right : 20px;
}



.Side {
    width: 90%;
    padding: 0px 20px 0px 10px;
    padding-right: 25px;
    background-color: white;
    /* background-color: hotpink; */
}

.SingleTile:hover {
    cursor: pointer;
    
}

.Selected {
    background-color: blue;
    color: white
}


