.SingleTile {
    border: 1px solid #ccc;
    font-size: 90%;
    float: left;
    color: grey;
    text-align: center;
    caret-color: transparent;
    

}



.Side {
    padding: 0.5vw 2vw;
    background-color: white;
    margin: 3% 0% ;
}

.SingleTile:hover {
    cursor: pointer;
    background-color: blue;
}

.Selected {
    background-color: blue;
    color: white;

}



