.Board {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin : auto;

    
  background: url(../../assets/bg1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.BoardLeft{
    background: white;
    min-width: 25%;
}


@media (min-width: 981.1px) {
    .BoardLeft{
        padding-top: 4px; 

    }
}





