.Right span, .Pieces span{
    color: grey;

}
.Main > div:nth-child(even){
    background:  #c3eafa;
}

.Main > div:nth-child(odd){
    background: #eee;
}

h6{
    padding-top: 10px;
}

.Row{
    display: flex;
}

.Right{
    width: 20vw;
}

.Pieces{
    width: 30vw;
}



/* medium screens */
@media only screen and (min-width: 768px){
    .Jackpot{
        font-size: 1.2em;
    }
    h6{
        font-size: 1.2em;
    }
    .Right{
        width: 30vw;
    }
    .Row{
        padding-left: 1vw;
    }
}


/* Larger  screens */
@media only screen and (min-width: 960px){

    
}