.NavItems {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.NavItems:hover {
    cursor: pointer;
}
.NavItem:hover {
    cursor: pointer;
    background: skyblue;

}
.NavItem {
    border-radius: 3px;
    padding: 0.5vw;
    border: 1px solid darkblue;
}

.Edit{
    background: skyblue;
    border: 3px solid black;

}