.PlayRow {
    
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    border:  6px solid lightgrey;
    float: left;
}


.RowChild>div:nth-child(odd) {
    background: blue;
    padding: 0px;
}

    
   