.PlayRow {
    
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    border:  2px solid #ccc;
    overflow: hidden;
    float: left;
}


.RowChild>div:nth-child(odd) {
    background: blue;
}