.Team {
    
    font-size:  90%;
    text-align: left;
    float: left;
    padding: 2px 0px 2px;
    font-weight: unset;
}

.TeamInner {
    padding-right: 10px;
    
    max-width: 150px;
    float: left;
}

.Team  .TeamInner >  span {
color :grey;
    padding: 5px;

}


.TeamInner:nth-child(odd){
    background-color: skyblue;
}

.Away {
    margin: 0px 40px 0px 0px;

}



