.Team {
    width : 60%;
    display:  flex;
    float: left;
    padding: 7px 0px;
}

.Team1 {
    padding-left: 20px;
    padding-right: 20px;
}

.Team2 { 
    padding-left: 20px;
}

.Vs {
    color : grey;
}


.Team:nth-child(even){
    background:#fff;
}

 .Team:nth-child(odd){
    background:#ccc;
}


