.Team {
    
    font-size:  90%;
    text-align: left;
    float: left;
    font-weight: unset;
}

.TeamInner {
    float: left;
}
.Team  .TeamInner >  p {

    float: left;
    }

.Vs {
    color :grey;
    padding: 0px 6px;
}



 .Team  .TeamInner> span{
    float: right;
}


.TeamInner:nth-child(odd){
    background-color: skyblue;
}




