:root {
    --pcol: green;
    --scol: white;
    --tspeed: 0.5s;
    --base-scale: 1.1;
    --subMenu-width: 12.25rem;
   
    --fgrad: linear-gradient(
      139deg,
      rgb(42, 173, 16) 16%,
      rgb(240, 236, 236) 52%,
      rgb(10, 209, 37) 88%
    );
    --sgrad: linear-gradient(
      139deg,
      rgb(12, 158, 24) 16%,
      rgb(243, 243, 243) 76%,
      rgb(70, 241, 18) 100%
    );
   
    --rm-font-size: 0.875rem;
    --sm-font-size: 0.65rem;
  }

  .LoginSection{
    display: block;
  }
  /* .Logout {
    border-radius: 20px !important;
    padding: 5px 20px !important;
  }
 .btn  {
    border-radius: 20px !important;
    padding: 5px 20px !important;
  } */


  @media only screen and (min-width: 768px) {
    .LoginSection{
      display: flex;
    }
    .navbar-toggler-icon{
    background-color: aliceblue;
    }
  }

  
  

