.BetTile {
    font-size: 80%;
    float: left;
    color: grey;
    border: 1px solid rgb(138, 91, 91);
    

}

.Home, .Away, .Draw {
    background : white;
    caret-color: transparent;
    padding: 10% 0%;
}

.Selected  {
    background-color: blue;
    color: white
}





