.BetTiles {
    font-size: 110%;
    width: 15%;
    float: left;
    /* padding:  0px  2.5% 1%  3.5% ; */
    color: grey;
    box-sizing: border-box;
    border: 1px solid rgb(138, 91, 91);
    text-align: center;
    margin: 5px 5% 25% 5%;
    

}

.Selected  {
    background-color: orange;
    color: white
}

.Home, .Away, .Draw {
    width: 110%;
    /* background-color: hotpink; */
}




