.BetTile {
    font-size: 1vw;
    float: left;
    color: grey;
    border: 1px solid rgb(138, 91, 91);
    

}

.Home, .Away, .Draw {
    background : white;
    caret-color: transparent;
    padding: 0.vw 0vw 0.1vw;
    margin-right: 0.4vw;
}

.Selected  {
    background-color: blue;
    color: white
}





