.BetTile {
    float: left;
    color: grey;
    border: 1px solid rgb(138, 91, 91);
    

}

.Home, .Away, .Draw {
    background : white;
    caret-color: transparent;
    padding: 4px 1.2vw .7vw;
}

.Selected  {
    background-color: blue;
    color: white;
    font-weight: bold;
}

/* medium screens */

@media only screen and (min-width: 660px) {
    .Home, .Away, .Draw {
        padding: 4px 2.5vw .7vw;
    }
}


/* Larger screens */

@media only screen and (min-width: 960px) {
    .Home, .Away, .Draw {
        padding: 4px 0.5vw .7vw;
    }
}
