.formDiv {    
     border-radius: 5px;    
     background: #f2f2f2;    
    } 
    label{
        display: none;
    } 
   .Text, select  ,  .Password  , .Number    
    {    
      width: 90vw;    
      padding: 10px 20px;    
      margin: 5px 0;    
      display: inline-block;    
      border: 1px solid #ccc;    
      border-radius: 4px;  
    }    
        
    .Button {    
      width: 60%;    
      background-color: #4CAF50;    
      color: white;    
      padding: 5px 3%;    
      margin: 8px auto;    
      border: none;    
      border-radius: 4px;    
      cursor: pointer;  
      font-size: 20px;  
      margin-left: 5vw;
    } 
    .QuickButtons{
      margin-top: 20px;
    }
.Quick{
  margin-left: 10px;
}
    span{
        font-size: 13px;;
        
    }
    .Button{    
      background-color: green;  
      width: 40vw;  
    }    
    .showError{    
      border-color: #a94442 !important;    
      color: #a94442 !important;    
      margin-bottom: 15px;    
    }

    
/* medium screens */
@media only screen and (min-width: 768px){
    
    .label{
        display: inline-block;
        width: 10vw;
        font-size: 13px;
        margin-left: 2vw;
        font-weight: bold;
    } 
   .Text, select  ,  .Password ,  .Date   , .Number   
    {    
      width: 40vw;
    }

    .Error{
      font-size: 15px;
      margin-left: 12.5vw;
    }
    .Button{  
        width: 40%;
      margin-left: 2vw;

    }
.QuickButtons{
  margin-left: 30px;
}
    span{
        display: none;
    }
}


/* Larger devices */
@media only screen and (min-width: 960px) {
   .Text, select  ,  .Password ,  .Date   , .Number   
    {    
      width: 70%;
    }

    .label{
        width: 7vw;

    }
    .Button{  
      width: 30%;
    margin-left: 0;

  }
    .Error{
      font-size: 15px;
      margin-left: 9vw;
    }
}