.formDiv {    
    padding: 21px;    
     border-radius: 5px;    
     background-color: #f2f2f2;    
     overflow: scroll;
    } 
    label{
        display: none;
    } 
    input[type=text], select  ,   input[type=password]  , input[type=number]    
    {    
      width: 100%;    
      padding: 10px 20px;    
      margin: 7px 0;    
      display: inline-block;    
      border: 1px solid #ccc;    
      border-radius: 4px;    
      box-sizing: border-box;   
      font-size: 12px; 
    }    
        
    .Button {    
      width: 60%;    
      background-color: #4CAF50;    
      color: white;    
      padding: 5px 3%;    
      margin: 8px auto;    
      border: none;    
      border-radius: 4px;    
      cursor: pointer;  
      font-size: 20px;  
      margin-left: 5vw;
    } 


    span{
        font-size: 13px;;
        
    }
    .Button{    
      background-color: #45a049;    
    }    
    .showError{    
      border-color: #a94442 !important;    
      color: #a94442 !important;    
      margin-bottom: 15px;    
    }

    
/* medium screens */
@media only screen and (min-width: 768px){
    
    .label{
        display: inline-block;
        width: 10vw;
        font-size: 13px;
        margin-left: 2vw;
        font-weight: bold;
    } 
    input[type=text], select  ,   input[type=password] ,  input[type=date]   , input[type=number]   
    {    
      width: 40vw;
    }

    .Error{
      font-size: 15px;
      margin-left: 12.5vw;
    }
    .Button{  
        width: 40%;
      margin-left: 2vw;

    }

    span{
        display: none;
    }
}


/* Larger devices */
@media only screen and (min-width: 960px) {
    input[type=text], select  ,   input[type=password] ,  input[type=date]   , input[type=number]   
    {    
      width: 30vw;
    }

    .label{
        width: 7vw;

    }

    .Error{
      font-size: 15px;
      margin-left: 9vw;
    }
}