.PaymentWrapper{
    width: 100%;
}

.PaymentWrapperInner{
        color: white;
        background: grey;
        position: relative;
        width: 100vw;
        display: flex;
}

.HeaderLeft , .TermHeaderLeft{
    float: left;
    padding-left: 5px;
}
.TermHeaderLeft{
    padding-left: 10px;
}
.HeaderRight, .TermHeaderRight{
    margin-left: 40vw;
}


.TermsWrapper{
    width: 100%;
}

.TermHeaderRight{
    margin-left: 150px;
    color: green;
}

.AcceptTerms{
    text-align: left;
    margin-left: 10px;
    font-size: 0.9em;
}

.ShowReceipt {
        font-weight: bold;
        font-size: 1.3em;
        float: left;
        width: 100%;
}

.ButtonNormal{
    display: block;
}

.ButtonLarge {
    display: none;
}


/* medium sciens only */

@media only screen and (min-width: 660px){
    .PaymentWrapper{
        font-size: 2em;
    }
    .HeaderRight, .TermHeaderRight{
        margin-left: 40vw;

    }
    
    .CancelButton{
        height: 4vh;
        margin-left: 15vw;
    }

    .PaymentWrapperInner{
        padding: 15px 0px;
    }

    .TermHeaderRight{
        margin-left: 450px;
    }
 
}

/* Larger screens */
@media only screen and (min-width: 660px){
    .PaymentWrapper{
        font-size: 1.6em;
    }
    .HeaderRight, .TermHeaderRight{
        margin-left: 10vw;
    }
    
    .PaymentWrapperInner{
        padding: 15px 0px;
    }
        .TermHeaderLeft{
            font-size: 0.8em;
        }
    .TermHeaderRight{
        margin-left: 300px;
    }
  
    .CancelButton{
        margin-left: 7vw;
        height: 8vh;

    }
}