.PlayRow {
    font-weight: bold;
    font-size: 1rem;
    float: left;
    caret-color: transparent;
    padding-bottom: 4px;
    
}

/* For small screen */
.PlayRow:nth-child(even){
  background: #e1f5f7;
}
.PlayRow:nth-child(odd){
  background: skyblue;
}

.PlayRow:hover{
    background: #c7e2eb;
}

.TeamAndSelection {
  width: 100%;
}

.Teams{
  width: 100vw;
  position: relative;
}

.SingleTiles{
  margin-left: 30px;
}

    
   